<div class="container-xl">
  <div class="text-center">
    <br />
    <img
      [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger.png' : '/resources/mempool-logo-bigger.png'"
      style="width: 250px;height:63px;">
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: June 09, 2023</h6>

    <br><br>

    <div class="text-left">

      <p *ngIf="officialMempoolSpace">The <a href="https://litecoinspace.org/">litecoinspace.org</a> website, their
        associated
        API services, and related network and
        server infrastructure (collectively, the "Website") are operated by Litecoin Foundation Ltd. ("Litecoin Space",
        "We", or "Us").</p>

      <p *ngIf="!officialMempoolSpace">This website and its API service (collectively, the "Website") are operated by a
        member of the Litecoin community ("We" or "Us"). Litecoin Foundation Ltd. ("Litecoin Space") has no affiliation
        with
        the operator of this Website, and does not sponsor or endorse the information provided herein.</p>

      <h5>By accessing this Website, you agree to the following Terms of Service:</h5>

      <br>

      <h4>NO WARRANTY</h4>

      <p>THIS WEBSITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS, WITHOUT ANY WARRANTY OR REPRESENTATIONS; EXPRESS OR
        IMPLIED, WITHOUT EVEN THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, CONTINUOUS
        AVAILABILITY, OR UNINTERRUPTED SERVICE. WE MAKE NO GUARANTEE TO THE ACCURACY OF ANY DATA ON THIS WEBSITE, AND IT
        IS YOUR RESPONSIBILITY TO VERIFY ALL DATA OBTAINED FOR INACCURACIES AND OMISSIONS.</p>

      <br>

      <h4>NO LIABILITY</h4>

      <p>WE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, WHETHER DIRECT, INDIRECT, OR ANY OTHER NATURE, THAT ARE
        DEEMED OR ALLEGED TO HAVE RESULTED FROM OR BEEN CAUSED BY THIS WEBSITE OR ITS CONTENTS, INCLUDING, BUT WITHOUT
        LIMITATION TO, ERRORS, INACCURACIES OR AMBIGUITY IN THIS WEBSITE OR ITS CONTENTS, FAILURES, MALFUNCTIONS, DELAYS
        OR INTERRUPTIONS IN OPERATION OR TRANSMISSION, ANY PERSONS USE OR MISUSE OF THIS WEBSITE OR ITS CONTENT, ANY
        ERRORS OR OMISSIONS IN CONTENT, DAMAGE FOR LOSS OF BITCOIN OR OTHER CRYPTO ASSETS, LOSS OF BUSINESS, LOSS OF
        PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION, OR ANY OTHER PECUNIARY OR CONSEQUENTIAL LOSS OR DAMAGE
        (EVEN IF WE HAVE BEEN NOTIFIED OF SUCH RISK OF LOSS OR DAMAGE).</p>

      <br>

      <h4>NO ADVERTISING</h4>

      <p>Out of respect for the Litecoin community, this website does not display advertising, and generally does not
        link to external websites. However, external links are made for references to Litecoin's technical documentation
        as follows:</p>
      <ul>
        <li>In order to refer to Litecoin technical documentation, external links may by added where applicable, to
          informational websites that respect that Litecoin community and do not display advertising, altcoins, or
          third-party trackers, such as <a href="https://litecoin.info/">litecoin.info</a> and <a
            href="https://litecoin.net/">litecoin.net</a>.</li>
        <br>

      </ul>
      <p>However, we reserve the right to remove any links from our website that in our sole discretion are
        inappropriate.</p>

      <br>

    </div>

  </div>

  <br><br>

</div>