<div class="container-xl about-page">

  <div class="intro">
    <span style="margin-left: auto; margin-right: -20px; margin-bottom: -20px"></span>
    <img class="logo" src="/resources/mempool-space-logo-bigger.png" />
    <div class="version">
      v{{ packetJsonVersion }} [<a
        href="https://github.com/litecoin-foundation/litepool/commit/{{ frontendGitCommitHash }}">{{
        frontendGitCommitHash }}</a>]
    </div>
  </div>

  <div class="about-text">
    <h5><ng-container i18n="about.about-the-project">Your Gateway to explore Litecoin's
        Blockchain</ng-container><ng-template [ngIf]="locale.substr(0, 2) === 'en'"></ng-template></h5>
    <p i18n>Our mempool and blockchain explorer for the Litecoin community, focusing on the transaction fee market and
      multi-layer ecosystem. Based on mempool.space&trade;.</p>

    <p>This website is not affiliated or endorsed by Mempool Space K.K.</p>

    <p>The LITE.POOL explorer is a fork of the mempool.space&trade; repo, an open source
      Bitcoin explorer, developed by Mempool Space K.K. In accordance with Section (III) of their trademark
      policy, this website does not include any usage of "Word Marks", "Logos", or "Trade Dress", except
      where necessary to display licensing and original copyright authors.
    </p>

  </div>



  <br>

  <div class="copyright">
    <div class="title">
      Copyright &copy; 2019-2023<br>
      The Mempool Open Source Project
    </div>
    <div class="title">
      Copyright &copy; 2023<br>
      Litecoin Foundation
    </div>
    <p>
      <a href="https://github.com/litecoin-foundation/litepool">LITE.POOL</a> is free software; you can
      redistribute it and/or modify it under the terms of (at your option) either:<br>
    </p>
    <ul>
      <li>
        1) the <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a> as
        published by the Free Software Foundation, either version 3 of the License or any later version approved by a
        proxy statement published on &lt;https://litepool.space/about&gt;; or<br>
      </li>
      <li>
        2) the <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU General Public License</a> as
        published by the Free Software Foundation, either version 3 of the License or any later version approved by a
        proxy statement published on &lt;https://litepool.space/about&gt;.<br>
      </li>
    </ul>
    <p>
      This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
      warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the full license terms for more details.<br>
    </p>
  </div>

  <div class="footer-links">
    <a href="https://github.com/mempool/mempool/blob/master/LICENSE">Original Author License</a>
    <a href="/3rdpartylicenses.txt">Third-party Licenses</a>
  </div>

  <br>
</div>


<ng-template #loadingSponsors>
  <br>
  <div class="spinner-border text-light"></div>
</ng-template>
