<div class="container-xl trademark-policy">

  <div *ngIf="!officialMempoolSpace">
    <p>This website is operated by an individual member of the Ferrite community.</p>
    <p>Please view the Trademark Policy and Guidelines for the Ferrite Space explorer at <a
        href="https://ferritecoin.com/trademark-policy">https://ferritecoin.com/trademark-policy</a>.</p>
  </div>

  <div *ngIf="officialMempoolSpace">
    <h2>Trademark Policy and Guidelines</h2>
    <br>

    <div class="text-left">



      <h3>Introduction</h3>

      <br>

      <p>This website is not affiliated or endorsed by Mempool Space K.K.</p>

      <p>The Ferrite Space explorer is a fork of the mempool.space&trade; repo, an open source
        Bitcoin explorer, developed by Mempool Space K.K. In accordance with Section (III) of their trademark
        policy, this website does not include any usage of "Word Marks", "Logos", or "Trade Dress".
        For reference, the upstream website's trademark policy is provided here:
        <a href="https://mempool.space/trademark-policy">https://mempool.space/trademark-policy</a>
      </p>

    </div>

  </div>

  <br><br>

</div>